{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Profil Akun - Soluntika</title>
        <link href="{% static 'kuesioner/css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{% static 'kuesioner/assets/img/soluntika-kecil88.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed sidenav-toggled">
        <!-- base -->
        <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
            <!-- Sidenav Toggle Button-->
            <!-- <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button> -->
            <!-- Navbar Brand-->
            <!-- * * Tip * * You can use text or an image for your navbar brand.-->
            <!-- * * * * * * When using an image, we recommend the SVG format.-->
            <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
            <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="index.html">
                <img src="{% static 'kuesioner/assets/img/soluntika-kecil.png' %}" alt="Soluntika Logo" style="width: 50px; height: auto;">
                Soluntika - Kuesioner
            </a>
            <!-- Navbar Search Input-->
            <!-- * * Note: * * Visible only on and above the lg breakpoint-->
            <!-- <form class="form-inline me-auto d-none d-lg-block me-3">
                <div class="input-group input-group-joined input-group-solid">
                    <input class="form-control pe-0" type="search" placeholder="Search" aria-label="Search" />
                    <div class="input-group-text"><i data-feather="search"></i></div>
                </div>
            </form> -->
            <!-- Navbar Items-->
            <ul class="navbar-nav align-items-center ms-auto">
                <!-- Documentation Dropdown-->
                
                <!-- Navbar Search Dropdown-->
                <!-- * * Note: * * Visible only below the lg breakpoint-->
                
                <!-- Alerts Dropdown-->
                
                <!-- Messages Dropdown-->
                
                <!-- User Dropdown-->
                <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- <img class="img-fluid" src="{% static 'kuesioner/assets/img/illustrations/profiles/profile-1.png' %}" /> -->
                        <!-- Profile picture image-->
                        {% if user_data_obj.profile_picture %}
                        <img class="img-fluid" src="{{ user_data_obj.profile_picture.url }}" alt="" />
                        {% else %}
                        <!-- Default profile picture -->
                            <img class="img-fluid" src="{% static 'kuesioner/assets/img/illustrations/profiles/profile-1.png' %}" alt="" />
                        {% endif %}
                        <!-- Profile picture help block-->
                    </a>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <!-- Profile picture image-->
                            {% if user_data_obj.profile_picture %}
                            <img class="dropdown-user-img" src="{{ user_data_obj.profile_picture.url }}" alt="" />
                            {% else %}
                            <!-- Default profile picture -->
                                <img class="dropdown-user-img" src="{% static 'kuesioner/assets/img/illustrations/profiles/profile-1.png' %}" alt="" />
                            {% endif %}
                            <!-- Profile picture help block-->
                            <!-- <img class="dropdown-user-img" src="{% static 'kuesioner/assets/img/illustrations/profiles/profile-1.png' %}" /> -->
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">{{ first_name }} {{ last_name }}</div>
                                <div class="dropdown-user-details-email">{{ email }}</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Keluar
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- end base -->
        <div id="layoutSidenav">
            <div id="layoutSidenav_content">
                <main>

                    {% block content %}
                    {% endblock %}